*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 display: grid;
 place-content: center;
 height: 100vh;
 background: burlywood;
}

header {
 color: white;
}

nav {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

nav a {
 font-size: 20px;
 font-weight: 400;
 margin-right: 15px;
 color: white;
 text-decoration: none;
}

nav a:hover {
 color: #eb5020;
}


.grid {
 display: grid;
 gap: 1rem;
 grid-template-columns: repeat(3, auto);
 padding-block: 2rem;
 width: min(100%, 60rem);
 margin-inline: auto;
 background-color: rgb(13, 2, 51);
}

.grid-item {
 padding: 4rem;
}

.grid-col-span-2 {
 grid-column: span 2;
}

.grid-1 {
 background: #db3e0ec7;
 height: 170px;
}

.grid-2 {
 background: #ffa401;
 width: 150px;
 height: 170px;
}

.grid-3 {
 grid-column: span 1;
 width: 250px;
 height: 200px;
 background: #05aa42;
}

.grid-4 {
 display: grid;
 width: 300px;
 padding: 0;
 gap: 1rem;
}

.grid-4 div {
 width: auto;
 height: auto;
 background: #01aefd;
}